---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
interface Props {
  title: string;
  description?: string;
  canonicalUrl?: string;
}

const { title, description = 'My Astro Blog', canonicalUrl = Astro.url.href } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href={canonicalUrl} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="article" />
    <link rel="stylesheet" href="/src/styles/globals.css" />
  </head>
  <body>
    <Header />
    <main class="blog-container px-7">
      <slot />
    </main>
    <Footer />
  </body>
</html>